<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.55.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy<2,>=1.21 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here
print(f"Columns datatypes:\n{df.dtypes}")
print(f"\nColumns counts:{df.shape[1]}")

df_missing_Values= df.isnull().sum()
print(df_missing_Values)

Columns datatypes:
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Columns counts:114
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Write your code here
#df['Country'].nunique()
print(df['Country'].isna())
print("\n")
print(df['Country'].isna().sum())

0        False
1        False
2        False
3        False
4        False
         ...
65432     True
65433     True
65434     True
65435    False
65436     True
Name: Country, Length: 65437, dtype: bool


6507

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
most_frequent_value_country= df['Country'].value_counts().idxmax()
most_frequent_value_EdLevel= df['EdLevel'].value_counts().idxmax()
print(most_frequent_value_country)
print(most_frequent_value_EdLevel)
print("\n")

print(df['Country'].fillna(most_frequent_value_country))
print("\n")
print(df['EdLevel'].fillna(most_frequent_value_EdLevel))

United States of America
Bachelor’s degree (B.A., B.S., B.Eng., etc.)


0                                 United States of America
1        United Kingdom of Great Britain and Northern I...
2        United Kingdom of Great Britain and Northern I...
3                                                   Canada
4                                                   Norway
                               ...
65432                             United States of America
65433                             United States of America
65434                             United States of America
65435                                              Germany
65436                             United States of America
Name: Country, Length: 65437, dtype: object


0                                Primary/elementary school
1             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3        Some college/university study without earning ...
4        Secondary school (e.g. American high school, G...
                               ...
65432         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65434         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435    Secondary school (e.g. American high school, G...
65436         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, Length: 65437, dtype: object

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:
## Write your code here
encoded_df = pd.get_dummies(df, columns=["Employment"], prefix="Employment")
print(encoded_df)

       ResponseId                      MainBranch                 Age  \
0               1  I am a developer by profession  Under 18 years old
1               2  I am a developer by profession     35-44 years old
2               3  I am a developer by profession     45-54 years old
3               4           I am learning to code     18-24 years old
4               5  I am a developer by profession     18-24 years old
...           ...                             ...                 ...
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65435       65436  I am a developer by profession     18-24 years old
65436       65437     I code primarily as a hobby     18-24 years old

                                 RemoteWork   Check  \
0                                    Remote  Apples
1                                    Remote  Apples
2                                    Remote  Apples
3                                       NaN  Apples
4                                       NaN  Apples
...                                     ...     ...
65432                                Remote  Apples
65433                                Remote  Apples
65434                             In-person  Apples
65435  Hybrid (some remote, some in-person)  Apples
65436                                   NaN  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                    NaN
4                                                    NaN
...                                                  ...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65435  Hobby;Contribute to open-source projects;Profe...
65436                                                NaN

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65432       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                NaN
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435  Secondary school (e.g. American high school, G...
65436                                                NaN

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65435  On the job training;Other online resources (e....
65436                                                NaN

                                         LearnCodeOnline  \
0                                                    NaN
1      Technical documentation;Blogs;Books;Written Tu...
2      Technical documentation;Blogs;Books;Written Tu...
3      Stack Overflow;How-to videos;Interactive tutorial
4      Technical documentation;Blogs;Written Tutorial...
...                                                  ...
65432                                                NaN
65433                                                NaN
65434  Technical documentation;Stack Overflow;Social ...
65435  Technical documentation;Blogs;Written Tutorial...
65436                                                NaN

                                                 TechDoc  ...  \
0                                                    NaN  ...
1      API document(s) and/or SDK document(s);User gu...  ...
2      API document(s) and/or SDK document(s);User gu...  ...
3                                                    NaN  ...
4      API document(s) and/or SDK document(s);User gu...  ...
...                                                  ...  ...
65432                                                NaN  ...
65433                                                NaN  ...
65434  API document(s) and/or SDK document(s);AI-powe...  ...
65435  API document(s) and/or SDK document(s);User gu...  ...
65436                                                NaN  ...

      Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
65432                                              False
65433                                              False
65434                                              False
65435                                              False
65436                                              False

      Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
65432                                              False
65433                                              False
65434                                              False
65435                                              False
65436                                              False

      Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
65432                                              False
65433                                              False
65434                                              False
65435                                              False
65436                                              False

      Employment_Student, full-time;Retired  \
0                                     False
1                                     False
2                                     False
3                                     False
4                                     False
...                                     ...
65432                                 False
65433                                 False
65434                                 False
65435                                 False
65436                                 False

      Employment_Student, full-time;Student, part-time  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
...                                                ...
65432                                            False
65433                                            False
65434                                            False
65435                                            False
65436                                            False

      Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
65432                                              False
65433                                              False
65434                                              False
65435                                              False
65436                                              False

      Employment_Student, full-time;Student, part-time;Retired  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
65432                                              False
65433                                              False
65434                                              False
65435                                              False
65436                                              False

      Employment_Student, part-time  \
0                             False
1                             False
2                             False
3                             False
4                             False
...                             ...
65432                         False
65433                         False
65434                         False
65435                         False
65436                         False

      Employment_Student, part-time;Employed, part-time  \
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
65432                                             False
65433                                             False
65434                                             False
65435                                             False
65436                                             False

      Employment_Student, part-time;Retired
0                                     False
1                                     False
2                                     False
3                                     False
4                                     False
...                                     ...
65432                                 False
65433                                 False
65434                                 False
65435                                 False
65436                                 False

[65437 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [8]:
## Write your code here
df_missing_Values= df.isnull().sum()

sorted_missing = df_missing_Values.sort_values(ascending=False)
print(sorted_missing)

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
MainBranch                        0
Check                             0
Employment                        0
Age                               0
ResponseId                        0
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [9]:
## Write your code here
missing_values= df['ConvertedCompYearly'].isnull().sum()
print(missing_values)

ConvertedCompYearly_mean= df['ConvertedCompYearly'].mean()
print(ConvertedCompYearly_mean)

df['ConvertedCompYearly'].fillna(ConvertedCompYearly_mean, inplace=True)
print("Missing values after imputation:")

missing_values_after_imputation= df['ConvertedCompYearly'].isnull().sum()
print(missing_values_after_imputation)

42002
86155.28726264134
Missing values after imputation:
0

<ipython-input-9-c06bb6f34742>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(ConvertedCompYearly_mean, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [10]:
## Write your code here
most_frequent_value = df['RemoteWork'].mode()[0]
print(most_frequent_value)

df['RemoteWork'].fillna(most_frequent_value, inplace=True)

#checking do missing values is been replaced

missing_values_after_imputation = df.isnull().sum()

print("Missing values after imputation:")
print(missing_values_after_imputation)

Hybrid (some remote, some in-person)

<ipython-input-10-ccfe7ef4cfa2>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_frequent_value, inplace=True)

Missing values after imputation:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork                 0
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly        0
JobSat                 36311
Length: 114, dtype: int64

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [11]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
df = df.dropna(subset=['ConvertedCompYearly'])
min_max_scaler = MinMaxScaler()
min_max_scaler = MinMaxScaler(feature_range=(0, 10))
df['ConvertedCompYearly_MinMax'] = min_max_scaler.fit_transform(df[['ConvertedCompYearly']])

df['ConvertedCompYearly_MinMax'].head()

0    0.052996
1    0.052996
2    0.052996
3    0.052996
4    0.052996
Name: ConvertedCompYearly_MinMax, dtype: float64

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [12]:
## Write your code here
# Use np.log1p to handle zeros safely (log(1 + x) instead of log(x))
import numpy as np
df["ConvertedCompYearly_Log"] = np.log1p(df["ConvertedCompYearly"])

# Display the result
print(df)

       ResponseId                      MainBranch                 Age  \
0               1  I am a developer by profession  Under 18 years old
1               2  I am a developer by profession     35-44 years old
2               3  I am a developer by profession     45-54 years old
3               4           I am learning to code     18-24 years old
4               5  I am a developer by profession     18-24 years old
...           ...                             ...                 ...
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65435       65436  I am a developer by profession     18-24 years old
65436       65437     I code primarily as a hobby     18-24 years old

                Employment                            RemoteWork   Check  \
0      Employed, full-time                                Remote  Apples
1      Employed, full-time                                Remote  Apples
2      Employed, full-time                                Remote  Apples
3       Student, full-time  Hybrid (some remote, some in-person)  Apples
4       Student, full-time  Hybrid (some remote, some in-person)  Apples
...                    ...                                   ...     ...
65432  Employed, full-time                                Remote  Apples
65433  Employed, full-time                                Remote  Apples
65434  Employed, full-time                             In-person  Apples
65435  Employed, full-time  Hybrid (some remote, some in-person)  Apples
65436   Student, full-time  Hybrid (some remote, some in-person)  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                    NaN
4                                                    NaN
...                                                  ...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65435  Hobby;Contribute to open-source projects;Profe...
65436                                                NaN

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65432       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                NaN
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435  Secondary school (e.g. American high school, G...
65436                                                NaN

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65435  On the job training;Other online resources (e....
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_8  \
0                                                    NaN  ...            NaN
1      Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2      Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3      Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4      Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65435  Technical documentation;Blogs;Written Tutorial...  ...            0.0
65436                                                NaN  ...            NaN

      JobSatPoints_9 JobSatPoints_10 JobSatPoints_11           SurveyLength  \
0                NaN             NaN             NaN                    NaN
1                0.0             0.0             0.0                    NaN
2                NaN             NaN             NaN  Appropriate in length
3                NaN             NaN             NaN               Too long
4                NaN             NaN             NaN              Too short
...              ...             ...             ...                    ...
65432            NaN             NaN             NaN                    NaN
65433            NaN             NaN             NaN                    NaN
65434            NaN             NaN             NaN                    NaN
65435            0.0             0.0             0.0                    NaN
65436            NaN             NaN             NaN                    NaN

      SurveyEase ConvertedCompYearly JobSat ConvertedCompYearly_MinMax  \
0            NaN        86155.287263    NaN                   0.052996
1            NaN        86155.287263    NaN                   0.052996
2           Easy        86155.287263    NaN                   0.052996
3           Easy        86155.287263    NaN                   0.052996
4           Easy        86155.287263    NaN                   0.052996
...          ...                 ...    ...                        ...
65432        NaN        86155.287263    NaN                   0.052996
65433        NaN        86155.287263    NaN                   0.052996
65434        NaN        86155.287263    NaN                   0.052996
65435        NaN        86155.287263    NaN                   0.052996
65436        NaN        86155.287263    NaN                   0.052996

      ConvertedCompYearly_Log
0                   11.363918
1                   11.363918
2                   11.363918
3                   11.363918
4                   11.363918
...                       ...
65432               11.363918
65433               11.363918
65434               11.363918
65435               11.363918
65436               11.363918

[65437 rows x 116 columns]

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [19]:
## Write your code here
df['ExperienceLevel'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df['ExperienceLevel']

df['ExperienceLevel'].fillna(0, inplace=True)
df['ExperienceLevel']

df['ExperienceLevel'] = df['ExperienceLevel'].astype(int)
df['ExperienceLevel']

0         NaN
1        17.0
2        27.0
3         NaN
4         NaN
         ...
65432     3.0
65433     NaN
65434     5.0
65435     2.0
65436     NaN
Name: ExperienceLevel, Length: 65437, dtype: float64

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.